[submodule ".vim/pack/syntax/start/vim-cpp-modern"]
	path = .vim/pack/syntax/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".vim/pack/plugins/start/lsp"]
	path = .vim/pack/plugins/start/lsp
	url = https://github.com/yegappan/lsp
[submodule ".vim/pack/plugins/start/vim-vsnip"]
	path = .vim/pack/plugins/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule ".vim/pack/plugins/start/vim-vsnip-integ"]
	path = .vim/pack/plugins/start/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ
