[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh/plugins/zsh-completions"]
	path = .zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".zsh/plugins/zsh-vimode-visual"]
	path = .zsh/plugins/zsh-vimode-visual
	url = https://github.com/b4b4r07/zsh-vimode-visual
[submodule ".vim/pack/colorscheme/start/nord-vim"]
	path = .vim/pack/colorscheme/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule ".vim/pack/syantax/start/vim-cpp-modern"]
	path = .vim/pack/syantax/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/plugins/start/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/plugins/start/vim-css-color"]
	path = .vim/pack/plugins/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule ".vim/pack/plugins/start/vim-buftabline"]
	path = .vim/pack/plugins/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/plugins/start/vim-lsp"]
	path = .vim/pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule ".vim/pack/plugins/start/asyncomplete.vim"]
	path = .vim/pack/plugins/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule ".vim/pack/plugins/start/asyncomplete-lsp.vim"]
	path = .vim/pack/plugins/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule ".vim/pack/plugins/start/vim-vsnip"]
	path = .vim/pack/plugins/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule ".vim/pack/plugins/start/vim-vsnip-integ"]
	path = .vim/pack/plugins/start/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ
[submodule ".vim/pack/plugins/start/fern.vim"]
	path = .vim/pack/plugins/start/fern.vim
	url = https://github.com/lambdalisue/fern.vim
[submodule ".vim/pack/plugins/start/fern-renderer-nerdfont.vim"]
	path = .vim/pack/plugins/start/fern-renderer-nerdfont.vim
	url = https://github.com/lambdalisue/fern-renderer-nerdfont.vim
[submodule ".vim/pack/plugins/start/nerdfont.vim"]
	path = .vim/pack/plugins/start/nerdfont.vim
	url = https://github.com/lambdalisue/nerdfont.vim
[submodule ".vim/pack/plugins/start/glyph-palette.vim"]
	path = .vim/pack/plugins/start/glyph-palette.vim
	url = https://github.com/lambdalisue/glyph-palette.vim
[submodule ".vim/pack/plugins/start/fern-git-status.vim"]
	path = .vim/pack/plugins/start/fern-git-status.vim
	url = https://github.com/lambdalisue/fern-git-status.vim
[submodule ".vim/pack/plugins/start/fern-hijack.vim"]
	path = .vim/pack/plugins/start/fern-hijack.vim
	url = https://github.com/lambdalisue/fern-hijack.vim
[submodule ".config/alacritty/colorsheme/nord-alacritty"]
	path = .config/alacritty/colorsheme/nord-alacritty
	url = https://github.com/arcticicestudio/nord-alacritty
[submodule ".vim/pack/plugins/start/vista.vim"]
	path = .vim/pack/plugins/start/vista.vim
	url = https://github.com/liuchengxu/vista.vim
